.img-responsive{
  display: block;
  max-width: 50%;
  height: auto;
}

.jumbotron{
  background-color: aqua;
}

.em{
  background-color: #DCDCDC;
}

.alert-info{
  background-color: #90EE90;
  color: black;
}